.ui.menu {
  height: 50px;
  overflow: none;
  display: flex;
  align-items: center;
}

.socialMediaGit {
  margin-right: .5vw !important;
  color:black;
}

.socialMediaLinked {
  margin-right: 2vw !important;
  color:black;
}

.socialMediaGit:hover {
  animation: shake 0.72s cubic-bezier(.10,.07,.1,.57) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer
}

.socialMediaLinked:hover {
  animation: shake 0.72s cubic-bezier(.10,.07,.1,.57) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.footerBuffer {
  height: 150px;
  background: white;
  z-index:0;
}

.footer {
  background-color: #3e3e3e;
  color: black;
  padding: 1rem 0;
  margin-top: -9rem;
  height: 20vw;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.footAlign { 
  color: white;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}