.ui.menu {
  height: 50px;
  overflow: none;
  display: flex;
  align-items: center;
}

.socialMediaGit {
  margin-right: .5vw !important;
  color:black;
}

.socialMediaLinked {
  margin-right: 2vw !important;
  color:black;
}

.socialMediaGit:hover {
  animation: shake 0.72s cubic-bezier(.10,.07,.1,.57) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer
}

.socialMediaLinked:hover {
  animation: shake 0.72s cubic-bezier(.10,.07,.1,.57) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.giphy {
  height: 100%;
}

.giphyWeather {
  width: 15vw;
  margin: auto;
}

.gifImg {
border-radius: 15px;
}

.spacer {
  margin-top: 2.5vw;
}

.spacerExtra {
   margin-top: 4vw;
}

p {
  margin: 0; 
}

.divider {
  width: 75vw;
}

.title {
  position: absolute;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Lato, sans-serif;
  letter-spacing: 4px;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

.border {
  border: 1px solid black;
  background-color: transparent;
  padding: 6vw;
  z-index: 2;
}

.titleWhite {
  position: absolute;
  text-transform: uppercase;
  color: white;
  /* -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black; */
  font-family: Lato, sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

.borderWhite {
  border: 1px solid white;
  background-color: transparent;
  padding: 6vw;
  z-index: 2;
}

.ubervslyft {
  margin-top: 5vh;
}

.boulevard {
  margin-top: 4vh;
}

.chuck {
  height: 7vh;
  width: 7vw;
  margin-left: 3vw;
}

.musicMargins {
  margin-top: 3rem;
  margin-right: 1rem;
}




.footerBuffer {
  height: 150px;
  background: white;
  z-index:0;
}

.footer {
  background-color: #3e3e3e;
  color: black;
  padding: 1rem 0;
  margin-top: -9rem;
  height: 20vw;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.footAlign { 
  color: white;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}